#father{
    background-color: #ffffff;
}
.bg{
    height: 172px;
    background-image: url("../img/news_bg.jpg");
}
.bg p{
    width: 85%;
    font-size: 40px;
    margin: 0px auto;
    font-weight: 900;
    line-height: 150px;
    color: white;


}
.content{
    width: 85%;
    margin: 0px auto;
    position: relative;
    top: -40px;
    background-color: #e8e8e8;
    padding: 25px;
}
.content div{
    width: 96%;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 10px;
}
.content .title{
    border-bottom: solid 1px gray;
}
.content .title p:nth-of-type(1){
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    width: 60%;
    margin: 20px auto 0px;
}
.content .title p:nth-of-type(2) span{
    font-size: 18px;
    color: gray;
    display: inline-block;
    margin-left: 30px;
}
.content .neirong p img{
     width: 70%;
}